extends layout

block content
    h1= "New Releases"
    table
        thead
            tr
                th Release Date
                th Name
                th Director
                th Genre
                th Score
        tbody
        each item in data.results
            tr
                td= item.rlsdate
                td= item.name
                td= item.director
                td= item.genre
                td= item.score
